
@model FirstTestApp.Models.GithubResultModel

@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
@using (Html.BeginForm("Index", "Github", FormMethod.Post))
{
    <table class="table">
        <thead>
            @*<tr>
                    <th>
                        User Name: <input type="text" name="UserName" id="UserName" />
                    </th>
                    <th>
                        Repository Name: <input type="text" name="RepositoryName" id="RepositoryName" />
                    </th>
                    <th>
                        <input type="submit" value="Submit" />
                    </th>
                </tr>*@
        </thead>
    </table>
}

@if (Model != null)
{


    <table class="table">
        @*<thead>
            <tr>
                <th>
                    Nazwa
                </th>
                <th>
                    Wartość
                </th>
                <th></th>
            </tr>
            </thead>*@

        @*<tr>
                <td>@Html.LabelFor(x => x.full_name)</td>
                <td>@Model.full_name</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.description)</td>
                <td>@Model.description</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.clone_url)</td>
                <td>@Model.clone_url</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.language)</td>
                <td>@Model.language</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.open_issues_count)</td>
                <td>@Model.open_issues_count</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.watchers)</td>
                <td>@Model.watchers</td>
            </tr>*@

        @*@foreach (var property in ViewData.ModelMetadata.Properties)
            {
                <tr>
                    <td class="name">@(property.DisplayName ?? property.PropertyName)</td>
                    <td>@Html.Display(property.PropertyName)</td>
                </tr>
            }*@

    </table>

}


@*@ViewBag.Counter*@